input{
    width: 300px;
    height: 40%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    outline: none;
    padding-left: 2%;
    
    font-family: 'Courier New', Courier, monospace;
    &::placeholder{
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }

    &:focus{
        &::placeholder{
            color: transparent;
        }
    }
}

@media only screen and (max-width: 768px) {
   input{
        width: 200px;
       font-size: 0.75rem;
       padding-left: 5%;
   }
}
